body{
    background: hsl(212, 45%, 89%);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: outfit;
}
#wrapper{
    margin-top: 50px;
    background: hsl(0, 0%, 100%);
    width: 90%;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
img{
    margin: 20px 0px 0px 0px; 
    border-radius: 10px;
    width: 90%;
}
.text-content{
    margin: 20px;
    text-align:center;
}
.title{
    
    font-weight: 700;
    padding: 0px; 
    opacity: .85;
}
.foot{
    text-align: center;
    font-size: 15px;
    padding: 0 20px;
    opacity: .6;
}

@media only screen and (min-width: 1024px){
     #wrapper{
        margin-top: 10px;
        border-radius: 20px;
        width: 30%;
        top: 10%;
        height: 90vh;
        transform: translate(-50%, -5%);
    }
    img{
        border-radius: 15px;
    }
}
    
