body{
    background: hsl(212, 45%, 89%);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: outfit;
}
#wrapper{
    margin: 7rem auto;
    padding: 1rem;
    background: hsl(0, 0%, 100%);
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px #a8a6a6;

}
img{ 
    border-radius: 10px;
    width: 300px;
}
.text-content{
    margin: 20px;
    text-align:center;
}
.title{
    font-size: 22px;
    padding: 0px; 
    opacity: .85;
}
.foot{
    text-align: center;
    font-size: 15px;
    padding: 0 20px;
    opacity: .6;
}


    
