body{
    background: hsl(212, 45%, 89%);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: outfit;
}

#wrapper{
    background: hsl(0, 0%, 100%);
    width: 375px;
    border-radius: 20px;
    text-align: center;

}
img{
    margin: 15px 0px 0px 0px; 
    border-radius: 10px;
    width: 90%;
}
.text-content{
    text-align: center;
    margin: 25px 
}
.title{
    font-weight: 700;
    padding: 0 20px; 

}